[Unit]
Description=GPU Regulator Service
After=network.target

[Service]
StandardError=append:/var/log/gpu_regulator.log
StandardOutput=append:/var/log/gpu_regulator.log
ExecStart=/usr/bin/env MAX_GPU_PER_USER=1 GPU_MEMORY_THRESHOLD_MB=2048 /usr/bin/python3 /opt/gpu-regulator/gpu_regulator.py
User=root
Group=root

[Install]
WantedBy=multi-user.target
